.venv/
__pycache__/
*.py[cod]
.DS_Store
.obsidian/

dataset/
dataset_level/
dataset_position/
bottle_dataset/
cropped/
cropped_level_infer/
runs/
weights/
weights_level/
test/
dataset4_contact_sheets/
*_contact_sheet*

*.pt
*.zip
*.cache
*.tar.gz